/*!
 * Documenter 2.0
 * http://rxa.li/documenter
 *
 * Copyright 2011, Xaver Birsak
 * http://revaxarts.com
 *
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
html { 
    font-size:101%;
    font-family:Arial,verdana,arial,sans-serif;
    font-size:12px;
    -webkit-text-size-adjust:none;
    color:#6F6F6F;
    background-color:#efefef;
}
body{
    min-height:100%;
    height:auto;
    width:100%;
}
footer, header, section {
    display:block;
}
a{ color:#6F6F6F; text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline }
p, ul, ol{
    margin:18px 0;
    line-height:1.5em;
}
li{
    list-style:none;
}
li.placeholder{
    height:70px;
    width:100%;
    font-size:16px;
}
hr { 
    display:block;
    height:0px;
    line-height:0px;
    border:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #aaa;
    margin:16px 0;
    padding:0;
    clear:both;
    float:none;
}
hr.notop{
    margin-top:0;
}
strong{
    font-weight:700;
}
#documenter_buttons{
    position:absolute;
    right:10px;
    margin-top:-30px;
}
.btn{
    cursor:pointer;
    width:auto;
    padding:7px 7px 8px;
    border-radius:3px;
    border:1px solid #ccc;
}
.btn:hover{
    border:1px solid #B1B4B0;
    box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
    text-decoration:none;
}
.btn:active{
    border:1px solid #B1B4B0;
    box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
    background-color:#eee;
}

#documenter_content{
    position:absolute;
    right:18px;
    left:218px;
    padding-left:10px;
    padding-bottom:800px;
    min-height:100%;
    height:auto;
    z-index:1;
}
#documenter_sidebar{
    -moz-box-shadow:0 0 6px rgba(3,3,3,0.6);
    -webkit-box-shadow:0 0 6px rgba(3,3,3,0.6);
    box-shadow:0 0 6px rgba(3,3,3,0.6);
    position:fixed;
    top: 0;
    left:0;
    width:200px;
    height:100%;
    min-height:100%;
    z-index:100;
}
#documenter_sidebar a{
    position:relative;
    z-index:100;
}
img{
    border:0;
    max-width: 100%;
}
#documenter_copyright{
    position:absolute;
    bottom:10px;
    font-size:10px;
    right:15px;
    width:200px;
    text-align:right;
    z-index:1
}
noscript{
    display:block;
    position:absolute;
    top:238px;
    margin:0 auto;
    width:800px;
    bottom:0;
    z-index:20;
}
noscript p{
    width:800px;
    font-size:20px;
    padding-top:20px;
    margin:0 auto;
    color:#4D4D4D;
}
.small{
    font-size:10px;
    letter-spacing:0;
}

/*----------------------------------------------------------------------*/
/* Sidebar
/*----------------------------------------------------------------------*/

#documenter_sidebar #documenter_logo{
    display:block;
    width: 180px;
    height:20%;
    max-height:200px;
    min-height:70px;
	padding: 10px;
    background-position:center center;
    background-repeat:no-repeat;
}
#documenter_sidebar #documenter_logo img {
    margin: 0 auto;
}

#documenter_sidebar ul {
    position: absolute;
    top: 175px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid #AAAAAA;
    font-size: 12px;
	line-height: 20px;
    font-weight: 700;
    overflow: auto;
}

#documenter_sidebar ul li{
    text-align:right;
    padding:0;
}

#documenter_sidebar ul a{
    display:block;
    border-top:1px solid #ddd;
    border-bottom:1px solid #aaa;
    padding:6px 15px 7px 0;
    text-align:right;
    transition: .25s;
}

#documenter_sidebar ul a:hover,
#documenter_sidebar ul a.current{
    -webkit-text-shadow:none;
    -moz-text-shadow:none;
    text-shadow:none;
    text-decoration:none;
}
#documenter_sidebar ul li ul{
    border-top:0;
    font-size:10px;
    min-height:10px;
    height:auto;
    overflow:auto;
    margin:0;
    display:none;
}
#documenter_sidebar ul li ul li a{
    display:block;
    padding:4px 15px 5px 0;
    text-align:right;
}

/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/
#banner {
    margin-bottom: 70px;
    border: 15px solid #DDDDDD;
    padding-top: 0 !important;
}
#banner img {
    display: block;
    width: 100%;
}
#documenter_cover{
    position:relative;
    padding-top:40px !important;
}
#documenter_cover li{
    list-style:none !important;
    margin-left:0 !important;
}
#documenter_cover p{
    width:500px;
}
#documenter_content section{
    padding-top:70px;
}
#documenter_content h1{
    font-size:30px;
	line-height: 38px;
    font-weight:700;
}
#documenter_content h2{
    font-size:20px;
	line-height: 28px;
    margin-bottom:18px;
    font-weight:100;
}
#documenter_content h3{
    margin: 18px 0 0;
	line-height: 26px;
    font-size: 26px;
	line-height: 24px;
    font-weight: 700;
}
#documenter_content h4{
    font-size:20px;
	line-height: 28px;
    margin:18px 0;
    font-weight:100;
}
#documenter_content h5{
    margin:18px 0;
    font-size:16px;
	line-height: 24px;
    font-weight:100;
}
#documenter_content h6{
    font-size:14px;
	line-height: 22px;
    margin:18px 0;
    font-weight:100;
}
#documenter_content p{
    margin:18px 0;
}
#documenter_content ol li{
    list-style:decimal;
    margin-left:36px;
}
#documenter_content ul li{
    list-style:square;
    margin-left:36px;
}
#documenter_content ul ul ul li {
    font-weight: normal;
}
#documenter_content dl{
}
#documenter_content dl dt{
    padding-top:12px;
    font-weight:700;
    font-size:14px;
}
#documenter_content dl dd{
    padding-top:3px;
    margin-left:18px;
}
#documenter_content table{
    border-collapse:collapse;
}
#documenter_content table th{
    font-weight:700;
}
#documenter_content table th, #documenter_content table td{
    padding:3px;
    text-align:left;
}
#documenter_content code {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
}
#documenter_content pre {
    overflow: auto;
}
#documenter_content .warning{
    padding:10px 10px 10px 30px;
    border:1px solid #D5D458;
    background-color:#F0FEB1;
    background-image:url(img/warning.png);
    background-repeat:no-repeat;
    background-position: 8px 11px;
}
#documenter_content .info{
    padding:10px 10px 10px 30px;
    border:1px solid #6AB3FF;
    background-color:#A3D0FF;
    background-image:url(img/info.png);
    background-repeat:no-repeat;
    background-position: 8px 11px;
}
#documenter_content div.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 0;
}
#documenter_content div.alert p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
#documenter_content div.alert-success,#documenter_content  div.alert-success div.alert-heading {
  color: #468847;
}
#documenter_content div.alert-danger,#documenter_content  div.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
#documenter_content div.alert-danger,
#documenter_content div.alert-error,
#documenter_content div.alert-danger div.alert-heading,
#documenter_content div.alert-error div.alert-heading {
  color: #b94a48;
}
#documenter_content div.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#documenter_content div.alert-info,#documenter_content  div.alert-info div.alert-heading {
  color: #3a87ad;
}
#documenter_content div.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
#documenter_content div.alert-block > p,#documenter_content  div.alert-block > ul {
  margin-bottom: 0;
}
#documenter_content div.alert-block p + p {
  margin-top: 5px;
}

section#documenter_start {
    padding-top: 25px;
}

/*----------------------------------------------------------------------*/
/* Print Styles
/*----------------------------------------------------------------------*/

@media print {
     * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
    hr { border-top:1px solid #000 !important;border-bottom:0 !important; }
    
    #documenter_sidebar{
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        box-shadow:none;
        position:absolute;
        left:10px;
        top:0;
        width:100%;
        margin-top:500px;
    }
    #documenter_sidebar ul:before { content: "Table of Contents"; }
    
    #documenter_sidebar ul{
        border:0 !important;
    }
    #documenter_sidebar ul li{
        border:0 !important;
        text-align:left;
    }
    #documenter_sidebar ul li a{
        border:0 !important;
        text-align:left;
        padding:4px;
    }
    #documenter_sidebar ul li a:hover{
        border:0 !important;
    }
    #documenter_sidebar #documenter_logo{
        display:none;
    }
    #documenter_sidebar #documenter_copyright{
        display:none;
    }
    #documenter_content{
        left:10px;
    }
    #documenter_cover{
        margin-bottom:300px;
    }
    #documenter_content .warning{
        background-image:url(img/warning.png) !important;
        background-repeat:no-repeat !important;
        background-position: 8px 11px !important;
    }
    #documenter_content .info{
        background-image:url(img/info.png) !important;
        background-repeat:no-repeat !important;
        background-position: 8px 11px !important;
    }
}

.paragraph-style-one {
    margin: 18px 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-family: Arial, verdana, arial, sans-serif;
    vertical-align: baseline;
    line-height: 1.5em;
    color: rgb(88, 88, 88);
    background-color: rgb(243, 243, 243);
}
.paragraph-style-one span {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: 700;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    color: rgb(255, 0, 0);
}
.paragraph-style-one a {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    color: rgb(17, 17, 17);
    text-decoration: none;
    cursor: pointer;
}

/* Overide Styles */
html {
    background-color: rgb(243, 243, 243);
    color: #383838;
}
body {
	font-size: 14px;
	line-height: 22px;
}
::-moz-selection {
    background: #444444;
    color: #DDDDDD;
}
::selection {
    background: #444444;
    color: #DDDDDD;
}
#documenter_sidebar #documenter_logo {
    color: #303030;
    font-weight: 700;
    font-size: 24px;
	line-height: 32px;
    display: table-cell;
    vertical-align: middle;
    height: 155px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}

a {
    color: #0000FF;
}
.btn {
    border-radius: 3px;
}
.btn-primary {
    background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
    background-image: -ms-linear-gradient(top, #0088CC, #0044CC);
    background-image: -webkit-gradient(linear, 0 0, 0 0088CC%, from(#DDDDDD), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
    background-image: -o-linear-gradient(top, #0088CC, #0044CC);
    background-image: linear-gradient(top, #0088CC, #0044CC);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0);
    border-color: #0044CC #0044CC #bfbfbf;
    color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    border-color: #0088CC #0088CC #bfbfbf;
    background-color: #0044CC;
}
hr {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #FFFFFF;
}
#documenter_sidebar,
#documenter_sidebar ul a {
    color: #222222;
    background-color: #DDDDDD;
}
#documenter_sidebar ul a {
    -webkit-text-shadow: 1px 1px 0px #EEEEEE;
    -moz-text-shadow: 1px 1px 0px #EEEEEE;
    text-shadow: 1px 1px 0px #EEEEEE;
}
#documenter_sidebar ul a {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #AAAAAA;
    color: #444444;
}
#documenter_sidebar ul a:hover {
    background: #444444;
    color: #DDDDDD;
    border-top: 1px solid #444444;
}
#documenter_sidebar ul a.current {
    background: #444444;
    color: #DDDDDD;
    border-top: 1px solid #444444;
}

ul.structure {
    margin: 0;
    font-weight: 700;
}
ul.structure ul {
    position: relative;
    margin: 0;
}
ul.structure ul:before {
    content: " ";
    position: absolute;
    top: 8px;
    left: -13px;
    bottom: 6px;
    width: 1px;
    background-color: #e9e9e9;
}
ul.structure li {
    margin: 5px 0;
    margin-left: 15px !important;
}
ul.structure ul li {
    margin-left: 30px !important;
}

.code {
    display: inline-block;
    max-width: 97%;
    padding: 0 15px;
    background-color: #f0f0f0;
    border: 1px solid #e9e9e9;
    line-height: 16px;
    white-space: pre;
    overflow: auto;
}

textarea.code {
    padding: 10px 15px;
    width: 100%;
    height: 200px;
    resize: none;
    outline: 0;
}
textarea.code:hover,
textarea.code:focus {
    border-color: #66afe9;
}

img + img {
	margin-top: 20px;
}

/* CHANGE LOG ITEM */
.changelog--item p {
    font-size: 16px;
	line-height: 24px;
}

.changelog--item pre {
    font-family: 'Courier New';
    font-size: 14px;
    line-height: 22px;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
    background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-image: linear-gradient(#f5f5f5 50%,#e6e6e6 50%);
    background-size: 36px 36px;
    border: 1px solid #e9e9e9;
    padding-left: 5px;
}

/* TABLE */
.table {
    width: 100%;
    max-width: 1200px;
	margin-bottom: 30px;
}

.table-bordered tr td {
    color: #ff0000;
    padding: 8px 10px !important;
    border: 1px solid #999;
}

.table-bordered tr td + td {
    color: #555;
}

.table-bordered tr td a {
    margin-left: 8px;
    font-size: 12px;
	line-height: 20px;
    text-decoration: none;
}
