/*

[RTL Stylesheet]

Project     : SMM24 - Multipurpose Social Media Management and Marketing HTML Template
Author      : themelooks.com
Author URI  : https://themeforest.net/user/themelooks

*/

/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
.mfp-iframe-holder .mfp-close {
    right: 2px;
    padding: 0;
    text-align: left;
}

.fa-send,
.fa-mail-reply-all,
.fa-phone-square {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

.fa-angle-left:before {
    content: "\f105";
}

.fa-angle-right:before {
    content: "\f104";
}

.fa-long-arrow-left:before {
    content: "\f178";
}

.fa-long-arrow-right:before {
    content: "\f177";
}

/*------------------------------------*\
    HELPER CLASSES
\*------------------------------------*/
.float--left {
    float: right;
}

.float--right {
    float: left;
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
/* SECTION TITLE */
.section--title-left {
    text-align: right;
}

/* PAGINATION */
.pagination > li > a.prev {
    padding-left: 12px;
    padding-right: 0;
}

.pagination > li > a.next {
    padding-left: 0;
    padding-right: 12px;
}

.pagination > li > a.prev .fa {
    margin-left: 10px;
    margin-right: 0;
}

.pagination > li > a.next .fa {
    margin-left: 0;
    margin-right: 10px;
}

/* COMMENT LIST */
.comment--item .img {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.comment--item .content .header .h4 {
    margin-left: 20px;
    margin-right: 0;
}

.comment--item .content .header .repty-btn .fa {
    margin-left: 10px;
    margin-right: 0;
}

/* COMMENT FORM */
.comment--form .rating label {
    margin-left: 10px;
    margin-right: 0;
}

.comment--form .rating .br-widget a {
    display: inline-block;
}

/*------------------------------------*\
    WIDGETS
\*------------------------------------*/
/* ABOUT WIDGET */
.about--widget .footer a .fa {
    margin-left: 0;
    margin-right: 8px;
}

.about--widget .social li {
    float: right;
}

.about--widget .social li + li:before {
    left: auto;
    right: 0;
}

.about--widget .social li + li {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 17px;
}

/* LINKS WIDGET */
.links--widget .nav li:before {
    left: auto;
    right: 0;
}

.links--widget .nav li a .fa {
    margin-left: 10px;
    margin-right: 0;
    text-align: right;
}

/* CONTACT WIDGET */
.contact--widget .nav > li {
    overflow: hidden;
}

.contact--widget .nav > li > span {
    float: right;
    margin-left: 5px;
}

/* SEARCH WIDGET */
.search--widget button[type="submit"] {
    left: 0;
    right: auto;
}

/* CART WIDGET */
.cart--widget .nav li {
    padding-left: 42px;
    padding-right: 30px;
}

.cart--widget .nav li .img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.cart--widget .nav li .remove {
    left: 30px;
    right: auto;
}

/* RECENT POSTS WIDGET */
.recent-posts--widget .img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

/*------------------------------------*\
    HEADER SECTION
\*------------------------------------*/
.header--topbar:before {
    left: -80px;
    right: auto;
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
}

.header--info > .nav > li > a > i {
    margin-left: 5px;
    margin-right: 0;
}

.header--info > .nav > li + li {
    margin-left: 0;
    margin-right: 40px;
}

.header--social > li + li:before {
    left: auto;
    right: 0;
}

.header--social > li + li {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 15px;
}

.header--nav-links > li {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 21px;
}

.header--nav-links > li:first-child {
    margin-right: 0;
    padding-right: 0;
}

.header--nav-links > li > a:before {
    left: auto;
    right: -21px;
}

.header--nav-links > .dropdown > a > i {
    margin-left: 0;
    margin-right: 4px;
}

.header--nav-links > .megamenu > .dropdown-menu {
    left: 0;
    background-position: bottom left;
}

.header--buttons a:not(.btn) {
    margin-left: 20px;
    margin-right: 0;
}

.header--buttons a .fa {
    margin-left: 5px;
    margin-right: 0;
}

/*------------------------------------*\
    BANNER SECTION
\*------------------------------------*/
.banner--content .buttons .btn {
    margin-left: 30px;
    margin-right: 0;
}

/*------------------------------------*\
    ABOUT SECTION
\*------------------------------------*/
.about--video .inner {
    padding-left: 30px;
    padding-right: 0;
}

.about--video .inner:before {
    left: 0;
    right: 30px;
}

.about--content .body ul li:before {
    display: none;
}

.about--content .body ul li:after {
    content: "\f22d";
    margin-left: 10px;
    font-family: "FontAwesome";
}

.about--content .buttons .btn {
    margin-left: 30px;
    margin-right: 0;
}

/*------------------------------------*\
    SERVICE DETAILS SECTION
\*------------------------------------*/
.service-details--tab-nav .nav li a img {
    margin-left: 20px;
    margin-right: 0;
}

.service-details--content .body ul li:before {
    display: none;
}

.service-details--content .body ul li:after {
    content: "\f22d";
    margin-left: 10px;
    font-family: "FontAwesome";
}

/*------------------------------------*\
    GALLERY DETAILS SECTION
\*------------------------------------*/
.gallery-details--info .table tbody tr td:before {
    left: auto;
    right: 0;
}

.gallery-details--info .table tbody tr th,
.gallery-details--info .table tbody tr td {
    padding-left: 10px;
    padding-right: 20px;
}

.gallery-details--stats .item .icon {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.gallery-details--content .body ul li:before {
    display: none;
}

.gallery-details--content .body ul li:after {
    content: "\f22d";
    margin-left: 10px;
    color: #179ea8;
    font-family: "FontAwesome";
}

/*------------------------------------*\
    Pricing Table SECTION
\*------------------------------------*/
.pricing-table--item .header,
.pricing-table--item .features {
    border-left-width: 0;
    border-right-width: 1px;
}

.pricing-table--item:last-child .header,
.pricing-table--item:last-child .features {
    border-left-width: 1px;
}

/*------------------------------------*\
    PRODUCTS SECTION
\*------------------------------------*/
.product--item .img .ribbon {
    left: -15px;
    right: auto;
}

.product--item .img .ribbon:before {
    left: 0;
    right: auto;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.product--item:hover .img .quick-view-btn {
    left: 20px;
    right: auto;
}

.product-single--summery .meta .rating {
    margin-left: 18px;
    margin-right: -2px;
}

.product--quantity .btn.active .fa {
    margin-left: 8px;
    margin-right: 0;
}

.product--quantity .ui-spinner {
    margin-left: 10px;
    margin-right: 0;
}

.product--quantity .btn {
    margin-left: 10px;
    margin-right: 0;
}

.product-single--summery .social > li {
    float: right;
}

.product-single--summery .social > li > span {
    margin-left: 15px;
    margin-right: 0;
}

/*------------------------------------*\
    CART SECTION
\*------------------------------------*/
.cart--items .footer .coupon--code .form-control {
    border-radius: 0;
}

.cart--items .footer .coupon--code .btn {
    border-radius: 0;
}

/*------------------------------------*\
    CHECKOUT SECTION
\*------------------------------------*/
.checkout--info-form .checkbox span {
    padding-left: 0;
    padding-right: 19px;
}

.checkout--info-form .checkbox span:before,
.checkout--info-form .checkbox span:after {
    left: auto;
    right: 0;
}

.checkout--info-form .input-group .form-control,
.checkout--info-form .input-group-btn .btn {
    border-radius: 0;
}

.checkout--order-info .panel-group .panel-title label span {
    padding-left: 0;
    padding-right: 20px;
}

.checkout--order-info .panel-group .panel-title label span:before {
    left: auto;
    right: 0;
}

.checkout--order-info .panel-group .panel-title label span:after {
    left: auto;
    right: 3px;
}

.checkout--order-info .table tbody tr th + th:before,
.checkout--order-info .table tbody tr td + td:before {
    left: auto;
    right: 0;
}

/*------------------------------------*\
    BLOG SECTION
\*------------------------------------*/
.sidebar--widget .links--widget .nav {
    text-align: left;
}

.sidebar--widget .links--widget .nav li {
    padding-left: 0;
    padding-right: 30px;
}

.sidebar--widget .links--widget .nav li a {
    float: right;
}

.post--item .meta .nav > li {
    float: right;
}

.post--item .title blockquote footer {
    padding-left: 0;
    padding-right: 20px;
}

.post--item .title blockquote footer:before {
    left: auto;
    right: 0;
}

.post--item .title blockquote:before {
    left: 100px;
    right: auto;
}

.post--nav .fa {
    margin-left: 10px;
    margin-right: 0;
}

/*------------------------------------*\
    TESTIMONIAL SECTION
\*------------------------------------*/
.testimonial--item .header .img {
    margin-left: 30px;
    margin-right: 0;
}

.testimonial--item .body blockquote p {
    position: relative;
    margin-top: 35px;
    text-indent: 30px;
}

.testimonial--item .body blockquote p:before {
    content: "\f10e";
    position: absolute;
    top: -10px;
    right: -30px;
    margin-left: 5px;
    margin-right: 0;
}

/*------------------------------------*\
    FAQ SECTION
\*------------------------------------*/
.faq--item .panel-title {
    padding-left: 0;
    padding-right: 26px;
}

.faq--item .panel-title:before {
    left: auto;
    right: 0;
}

/*------------------------------------*\
    SUBSCRIBE SECTION
\*------------------------------------*/
.subscribe--form .input-group .form-control {
    padding-left: 0;
    padding-right: 30px;
}

/*------------------------------------*\
    COMING SOON SECTION
\*------------------------------------*/
.coming-soon--content .counters ul {
    display: inline-block;
}

.coming-soon--content .social .nav > li {
    float: right;
    padding-left: 15px;
    padding-right: 18px;
}

.coming-soon--content .social .nav {
    margin-left: -15px;
    margin-right: -18px;
}

.coming-soon--content .social .nav > li {
    float: right;
    padding-left: 15px;
    padding-right: 18px;
}

.coming-soon--content .social .nav > li + li:before {
    left: auto;
    right: 0;
}

.comin-soon--subscribe .info p {
    overflow: hidden;
}

.comin-soon--subscribe .info p strong {
    float: right;
    margin-left: 5px;
}

/*------------------------------------*\
    404 SECTION
\*------------------------------------*/
.f0f--content .action .btn .fa {
    margin-left: 10px;
    margin-right: 0;
}

/*------------------------------------*\
    FOOTER SECTION
\*------------------------------------*/
.footer--copyright .nav li {
    float: right;
}

.footer--copyright .nav li + li {
    margin-left: 0;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 17px;
}

.footer--copyright .nav li + li:before {
    left: auto;
    right: 0;
}

/*------------------------------------*\
    BACK TO TOP BUTTON
\*------------------------------------*/
.back-to-top-btn {
    left: 30px;
    right: auto;
}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 991px) {
    /* HEADER SECTION */
    .header--logo,
    .header--info {
        float: none;
    }

    .header--navbar .navbar-header {
        float: right;
        margin-right: 0;
    }

    .header--nav-links > li:first-child {
        margin-right: 20px;
        padding-right: 17px;
    }
}

@media screen and (max-width: 767px) {
    /* PRICING TABLE SECTION */
    .pricing-table--item .header,
    .pricing-table--item .features {
        border-left-width: 1px;
    }

    /* CART SECTION */
    .cart--items .table tbody tr td {
        padding-left: 15px;
        padding-right: 152px;
        text-align: left;
    }

    .cart--items .table tbody tr td:before {
        left: auto;
        right: 15px;
    }
}
